<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="PageTemplate">

<head>
<meta charset="utf-8">

<title>Liste Des Patients</title>

</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-4">
			<div class="card">
				<div class="card-header">Liste Des Patients</div>
				<div class="card-body">

					<form method="get" th:action="@{patients}">
						<div class="form-group">
							<label>Nom Patient</label> 
							
							<input type="text" name="keyword"
								th:value="${keywordModel}">
							
							<button class="btn btn-dark">Chercher</button>
						</div>
					</form>
					<table class="table">
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Date De Naissance</th>
							<th>Score</th>
							<th>Malade</th>
						</tr>

						<tr th:each="p:${listePatients}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.name}"></td>
							<td th:text="${p.email}"></td>
							<td th:text="${p.dateNaissance}"></td>
							<td th:text="${p.score}"></td>
							<td th:text="${p.malade}"></td>
							
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{formPatient}" class="btn btn-success"> Ajouter </a></td>
								
							<td sec:authorize="hasAuthority('ROLE_ADMIN')"><a
								class="btn btn-primary" th:href="@{modifierPatient(id=${p.id})}">
									Modifier </a></td>
									
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								onclick="return confirm('etes vous sure de vouloir supprimer ?')"
								class="btn btn-danger"
								th:href="@{supprimerPatient(id=${p.id},
							keyword=${keywordModel},page=${currentPage},size=${sizeModel})}">
									Supprimer</a></td>
						</tr>

					</table>

					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}">
						<a
							th:href="@{patients(page=${status.index},
								keyword=${keywordModel},size=${sizeModel})}"
							th:text="${status.index}"
							th:class="${status.index == currentPage? 'btn btn-primary':'btn'}">
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>